<!DOCTYPE html>
<html>
  <head>
    <title>BLOG CRUD</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' />
  </head>
  <body>